#navbar-logo {
  width: 15rem;
}
.navbar-nav {
  margin-left: 0;
}
.nav-link {
  color: #007a5e !important;
  font-size: 1.75rem;
}
#donate-button {
  background-color: #007a5e;
  color: white;
  border-color:  #007a5e;
  font-size: 1.75rem;
  padding: 0 1rem 0 1rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#donate-button:hover {
  background-color: #00634c;
}
.title {
  font-weight: bold;
}

.body {
  line-height: 1.2;
  font-family: Lato;
}

.p {
  font-family: Lato;
}

/* .
Homepage-container {
  background: white;
  width: 100%;
  color: black;
  padding: 5% 20% 5% 20%;
}
.Homepage-leftheader {
  color: #007a5e;
  font-weight: 500;
}
.Homepage-column {
  width: 33%;
  padding: 0% 1.5% 0% 1.5%;
  font-size: 1.25rem;
  color: #303030;
}
.Homepage-info {
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  text-align: right;
  margin-left: 6%;
  padding: 2%;
}
.Homepage-info-header {
  font-size: 3vw;
  font-weight: 600;
  color: #A1E1B3;
}

.Homepage-h1 {
  font-size: 3vw;
  font-weight: 600;
  color: #153967;
  margin-top: 5.5rem;
  padding-left: 5%;
}

.Hompage-panel-img {
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  height: 90vh;
  overflow: hidden;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.Homepage-panel-info {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  text-align: left;
  margin-left: 8%;
  padding: 9%;
  margin-top: 15%;
  color: white;
  margin-right: 6%;
  font-family: Lato;
}
.Homepage-panel-header {
  font-size: 2vw;
  font-weight: 600;
  color: #A1E1B3;
}

.Homepage-img-col {
  padding-right: 0px;
  padding-left: 0px;
} 
*/
.img-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
 }

.fade-in1 {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.fade-in2 {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.fade-in3 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.percent {
  font-weight: 700;
  font-size: 84px;
  text-align: center;
}
.Project-body {
  background: linear-gradient(180deg, #1d84e3 0%, #ffffff 125.62%);
  width: 100vw;
  min-height: 70vh;
}

h1 {
  font-weight: 200;
}

body {
  background-color: white;
  font-family: Lato;
}

.Project-Search-Bar {
  background: linear-gradient(rgba(48, 42, 42, 0.5), rgba(0, 0, 0, 0.8)), 
  url(../images/what_we_do.jpg) no-repeat center; 
  /* background: linear-gradient(rgba(0, 0, 0, 0.), rgba(0, 0, 0, 0.2)), 
  url(../images/what_we_do.jpg) no-repeat center; 
   */
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  text-align: center;
  margin: auto;
  background-position-y: 35%;
}
.ProjectList {
  padding-left: 5%;
  padding-right: 5%;
}
.Project-heading {
  padding: 5.25%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.focus-text {
  font-size: 2em;
  font-weight: 500;
  padding-left: 7.5%;
  padding-bottom: 4%;
  margin: auto;
  color: black;
}
.form-group {
  width: 25em;
}
.project-text-info {
  padding: 5%;
}

.card-project > div {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.Survey-Body > h3 {
  margin: auto;
  text-align: center;
  padding: 1%;
}

.Survey-focus-text {
  /* font-size: 2em; */
  font-weight: 500;
  /* padding-left: 7.5%; */
  /* padding-bottom: 4%; */
  margin: auto;
  color: black;
}

.Survey-container {
  background: linear-gradient(180deg, #1d84e3 0%, #ffffff 125.62%);
  /* height: 95vh; */
  width: 100%;
  padding: 5% 15% 5% 15%;
  color: white;
  /* padding: 0 10%;
  width: 100vw;
  margin: auto;
  background: url(../images/survey.png) no-repeat center #fff;
  background-repeat: no-repeat;
  background-size: cover; */
}
.Survey-Heading-div {
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  padding-bottom: 1em;
  color: black;
}
.Survey-SubHeader {
  /* text-align: left; */
  font-style: normal;
  font-weight: bold;
  /* font-size: 42px; */
  /* line-height: 64px; */
  /* padding: 7.5%; */
  color: black;
}
.Survey-Feedback {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  padding-top: 5%;
  color: black;
}
.Survey-Feedback-focus-text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 4%;
  margin: auto;
  color: black;
}
.SurveyList {
  align-content: center;
  align-self: center;
  padding: 5%;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}

.Survey-elem {
  background-color: #eca61f;
  text-align: center;
  font-weight: bold;
  padding: 10% 0;
  min-height: 10vh;
}

.asterisk {
  color: red;
}
.Survey-elem > * {
  color: black;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 1.5em;
  margin: auto;
}

.Status-input {
  max-width: 50%;
}
.Survey-delete > button {
  color: red;
  width: 100%;
}

.form-group {
  width: 100% !important;
}

.intro {
  position: relative;
  margin: auto;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  max-width: 26em;
}
.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  /* filter: brightness(50%); */
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4);
  animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  animation-delay: 18s;
}

@-moz-keyframes CrossFade {
  25% {
    /* opacity: 1; */
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-o-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
.head {
  background-color: lightgrey;
  opacity: 50%;
}
.news {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}
.newsItem {
  widows: 100%;
  display: flex;
  flex-direction: row;
}

.card-heading {
  display: inline;
  text-align: center;
  /* margin: auto; */
}
.card-heading > * {
  padding: 10px;
  width: 100% !important;
  margin: auto;
  display: inline;
  font-size:1.5rem;
  max-width: 300px;
}
a:link {
  padding: 10px;
  color: black;
  text-decoration: none;
}


.event-image {
  max-height: 100%;
  max-width: 100%;
}
.event-info > h3 {
  font-weight: 700;
  height:2vh;
}
.event-info > p {
  font-weight: 400;
}
.pageNumber {
  border: black 1px solid;
  padding: 1px;
  text-align: center;
  background: rgba(157, 228, 212, 0.5);
}

.Event-btns {
  width: 10em;
  margin: auto !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.news-page {
  background: linear-gradient(180deg, #007a5e 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #efdd8d, #efdd8d);
  padding: 0 10% 10% 10%;
  width: 100vw;
}
.Events-heading {
  padding-top: 3%;
  padding-left: 3%;
  color: white;
  font-weight: bold;
}
.event {
  padding: 1%;
  padding-left: 4%;
}
.carousel-item-img {
  background-size: auto;
  background-position: center center;
  height: 65vh;
  /* filter: brightness(50%); */
}
