#footer-body{
    background-color: #153967;
    color:white;
    box-sizing: border-box;
    padding: 5% 1% 5% 2%;
    font-family: Lato;
}
#footer-heading{
    color:#529384;
}
#major-box{
    float:left;
    text-align:left;
}

@media only screen and (max-width: 768px){
    #contact-box{
        padding-top:20px;
        text-align: center;
    }
}
#footer-body a{
    color: white;
    padding-left: 0px;
}
.page-link-col{
    text-align:left;
}

.sns-button{
    width:48px;
    height:48px;
}

#sns-section{
    text-align: center;
}