@keyframes move {
    0%{
        background-position: top left;
    }
    100%{
        background-position: bottom right;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    0%,100% {
    	-webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      height: 800px;
    }
    50%{
    	-webkit-transform: scale(1.5,1.5);
      -moz-transform: scale(1.5,1.5);
      height: 800px;

    }
}

/* Standard syntax */
@keyframes zoom {
   0%,100% {
        transform: scale(1,1);
      height: 100vh;

   }
   50% {
        transform: scale(1.5,1.5);
      height: 100vh;

   }
}

.h1 {
  color: #153967;
}
.p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: Lato;
}

.Homepage-container {
  background: white;
  width: 100%;
  color: black;
  padding: 5% 20% 5% 20%;
}

.Homepage-leftheader {
  color: #007a5e;
  font-weight: 500;
}
.Homepage-column {
  width: 33%;
  padding: 0% 1.5% 0% 1.5%;
  font-size: 1.25rem;
  color: #303030;
}
.Homepage-info {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  text-align: right;
  margin-left: 6%;
  padding: 2%;
}
.Homepage-info-header {
  font-size: 4rem;
  font-weight: 800;
  color: #A1E1B3;
  font-family: Lato;
}

@media (max-width: 800px) {
  .Homepage-info-header {
    font-size: 3rem;
  }
}
.Homepage-h1 {
  margin-top: 5.5rem;
  padding-left: 5%;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: #153967;
  text-align: left;
  /* background: white; */
}

.Homepage-h1-alt {
  font-weight: bold;
  font-size: 3rem;
  color: #529384; /*#dda73c*/
  /* background: white; */
}
.Homepage-h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #153967;
  text-align: left;
  /* background: white; */
}

.Homepage-panel-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 80vh;
  overflow: hidden;
  align-content: center;
  float: left;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.Homepage-panel-info {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  text-align: left;
  margin-left: 8%;
  padding: 9%;
  margin-top: 15%;
  color: white;
  margin-right: 6%;
  font-family: Lato;

}
.Homepage-panel-header{
  display: flex;             
  height: 100%;
  align-items: left;
  justify-content: left;
  font-size: 2rem;
  font-weight: bold;
  color: #A1E1B3;
  flex: 1;
}

.Homepage-img-col {
  padding-right: 0px;
  padding-left: 0px;
}

.priorities-section {
  height: 90vh;
  width: 100vw;
  padding: 0;
  margin-bottom: 10vh;
}

@media (max-width: 800px) {
  .priorities-section {
    margin-bottom: 20vh;
  }
}
.priority-panel {
  margin-top: 2%;
}
.panel-right {
  translate: 175%;
  width: 33%;
}

@media (max-width: 800px) {
  .panel-right {
    translate: 0%;
    width: 90%;
  }
}
.button-more {
  color: white;
  background-color: #153967;
  border: None;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Lato;
  font-size: 2rem;
  text-align: inherit;
}

.button-read {
  font-size: 1rem;
}

.pnews {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  font-size: 1.1rem;
}

.Mail-Chimp-signup {
  background-color: #529384;
  height: fit-content;
  margin: auto;
  padding: 1.5%;
  border-radius: 5px;
  width: 70vw;
}

.mc-field-group {
  color: black;
  padding: .5rem;
  font-weight: bold;
}
.mc-field-group > input {
  margin-top: 0%;
  border-radius: 5px;
} 

.signup-text {
  font-family: Lato;
  font-size: large;
}

.signup {
  padding-bottom: 20vh;
}
.Mail-Chimp-signup {
  background-color: #153967;
  height: fit-content;
  margin: auto;
  padding: 0.5%;
  border-radius: 5px;
  width: 60vw;  
}


#mc-embedded-subscribe {
  background: #153967;
  border-radius: 5px;
  border: white;
  margin: auto;
  margin-top: 3%;
  padding: 1.5%;
  color: white;
  width: 9em;
  font-weight: bold;
}

#mc_embed_signup {
  padding: 2%;
  background: white;
}

#signUpMailChimp {
  border: black;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.branding-logo {
  width: 27rem;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-115%, -25%);
  /* transform: translate(-50%, -50%); */
  color: white;
}

@media (max-width:800px){
  .branding-logo {
    width: 13rem;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    /* transform: translate(-50%, -50%); */
    color: white;
  }
}



