.Job-Heading {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/job_heading.jpg) no-repeat center;
  height: 50%;
  padding: 10%;
  min-height: 50vh;
  width: 100%;
  background-size: auto;
  color: white;
}
.job-elem {
  /* margin: auto;
  align-self: left;
  width: 100%; */
  align-self: left;
  padding: 2%;
  box-shadow: 7px 10px 20px 7px rgba(0, 0, 0, 0.25);
  color: black;
}
.clear-btn {
  background-color: #eca61f; /*# A1E1B3;*/
  color: black;
  border-radius: 3px;
  font-size: 1em;
  padding: 10px 15px;
  border: #eca61f;
  text-transform: uppercase;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 1rem;
}

.clear-btn:hover {
  background-color: #eece8e
}

.job-btn {
  background-color: #eca61f;
  /* background: #fff; */
  color: black;
  border-radius: 3px;
  font-size: 0.5em;
  padding: 10px 15px;
  border: #eca61f;
  text-transform: uppercase;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.job-btn:hover {
  background-color: #eece8e;
}

.job-container {
  padding-top: 1%;
}
.jobs {
  margin: auto !important;
  padding-top: 4%;
  padding-bottom: 3%;
}

.jobs a{
  padding-bottom: 1em;
}

.jobs a:hover{
  text-decoration: none;
}

.job-elem:hover {
  background-color: #007bff7e;
}
.marquee {
  min-height: 30vh;
  width: 100%;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
}
.marquee > h1 {
  padding-top: 10%;
  margin: auto;
  width: 100%;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250%, 0);
  }
}

.job-card-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-center > * {
  margin-left: 10px;
}
.job-card-img {
  width: 40% !important;
  height: 100% !important ;
}

.job-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
}
.checkbox-options {
  /* display: flex;
  flex-direction: row; */
  margin-top: 3%;
}
.checkbox-options > * {
  margin: auto !important;
  /* min-width: 25% !important; */
  /* margin-left: 0.5em !important; */

  /* flex: 0 !important ; */
}
.job-filter-box {
  font-weight: bold;
  font-size: large;
}
.Job-search {
  background-color: #1d84e3;
  padding: 30px;
  padding-left: 10%;
  padding-right: 25%;
  box-shadow: 0 4px 2px -2px gray;
}
.job-container {
  padding-left: 10%;
  padding-right: 10%;
  border: 5px solid #1d84e3;
}
.job-body {
  margin: auto;
  width: 100%;
  /* background-color: #1d84e3; */
}
