.idea/
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/public/hot/
/public/bundle.js
start.sh
aws.pem

/strapi_backend/.cache
/strapi_backend/.tmp
/strapi_backend/node_modules
/strapi_backend/build

/strapi_backend/extensions/documentation/documentation/1.0.0/full_documentation.json
