.Project-body {
  background-color: white;
}
.Project-Search-Bar {
  background: url(images/ea620944f43e5b9f1d1f48b9c6d06e83-what_we_do.jpg)
    no-repeat center #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
  /* width: 100vw; */
  padding: 0 10em;
  padding-top: 5vh;
}
.ProjectList {
  background-color: white;
  align-content: center;
  align-self: center;
  padding: 5em;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}

.Survey-Body {
  background: url(images/survey.svg) no-repeat center #fff;
  background-repeat: no-repeat;
  background-size: cover;
  /* TODO fix this height issue */
  height: 100%;
  height: 1000px;
}
.Survey-Heading-div {
  text-align: center;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  margin-left: 2em;
}
.Survey-Feedback {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  padding-top: 5em;
}
.SurveyList {
  align-content: center;
  align-self: center;
  padding: 5em;

  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}

.Survey-elem {
  background-color: gray;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.Survey-elem > * {
  color: white;
  width: auto;
  margin: 3px;
}
.Survey-update-admin {
  /* max-width: 15%; */
}

.Status-input {
  max-width: 50%;
}
.Survey-delete > button {
  color: red;
  width: 100%;
}

.About-Heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 121%;

  padding-left: 1em;
  padding-top: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/about_us.jpg) no-repeat;
  height: 50vh;
  color: #ffffff;
  background-size: 100vw 100vh;
}
.About-body {
  background-color: white;
}
.About-who {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 121%;
  text-align: center;
  /* or 58px */

  color: #000000;
}
.About-video {
  background: #c4c4c4;
  width: 50%;
}
.About-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 121%;
  width: 50%;
  color: #000000;
}
.About-gallery {
  background: #c4c4c4;
  height: 500px;
  text-align: center;
}
.About-row {
  display: flex;
}

.About-row > * {
  margin: 10px;
}

.intro {
  position: relative;
  margin: 2em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  max-width: 26em;
}
.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  filter: brightness(50%);
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4);
  animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  animation-delay: 18s;
}

@-moz-keyframes CrossFade {
  25% {
    /* opacity: 1; */
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-o-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
.head {
  background-color: lightgrey;
  opacity: 50%;
}
.news {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}
.newsItem {
  widows: 100%;
  display: flex;
  flex-direction: row;
}
.Job-Heading {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://corporateshopaholic.files.wordpress.com/2010/11/professionals.jpg)
      no-repeat;
  height: 40%;
  padding-top: 10%;
  padding-left: 2%;
  width: 100%;
  color: white;
}
.job-elem {
  margin-top: 15px;
  /* margin-right: 15px; */
}
.jobs {
  margin: auto !important;
}
.job-elem:hover {
  background-color: #007bff7e;
}
.delete-job-btn {
  /* position: absolute;
  bottom: 3; */
}
.job-filter-box {
  padding: 10px;
  background-color: #1d84e3;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}
.Job-search {
  background-color: #1d84e3;
  padding: 10px;
  padding-left: 25%;
  box-shadow: 0 4px 2px -2px gray;
}
