.Project-body {
  background-color: white;
}
.Project-Search-Bar {
  background: url(images/ea620944f43e5b9f1d1f48b9c6d06e83-what_we_do.jpg)
    no-repeat center #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
  /* width: 100vw; */
  padding: 0 10em;
  padding-top: 5vh;
}
.ProjectList {
  background-color: white;
  align-content: center;
  align-self: center;
  padding: 5em;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}
.focus-text {
  font-size: 2em;
  padding: 10%;
  margin: auto;
}

.Survey-Body > h3 {
  margin: auto;
  text-align: center;
  padding: 1%;
}
.Survey-container {
  padding: 0 10%;
  width: 100vw;
  margin: auto;
  background: url(images/survey.png) no-repeat center #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.Survey-Heading-div {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  margin-left: 2em;
  padding: 1%;
}
.Survey-Feedback {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  padding: 2%;
}
.SurveyList {
  align-content: center;
  align-self: center;
  padding: 5%;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}

.Survey-elem {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  padding: 10% 0;
  min-height: 10vh;
}

.Survey-elem > * {
  color: black;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 1.5em;
  margin: auto;
}

.Status-input {
  max-width: 50%;
}
.Survey-delete > button {
  color: red;
  width: 100%;
}

#signUpMailChimp {
  border: white;
  height: 100%;
}
.About-Heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 121%;

  padding-left: 1em;
  padding-top: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/about_us.jpg) no-repeat;
  height: 50vh;
  color: #ffffff;
  background-size: 100vw 100vh;
}
.About-body {
  background-color: white;
}
.About-who {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 121%;
  text-align: center;
  /* or 58px */

  color: #000000;
}
.About-video {
  background: #c4c4c4;
  width: 50%;
}
.About-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 121%;
  width: 50%;
  color: #000000;
}
.About-gallery {
  background: #c4c4c4;
  height: 500px;
  text-align: center;
}
.About-row {
  display: flex;
}

.About-row > * {
  margin: 10px;
}

.intro {
  position: relative;
  margin: 2em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  max-width: 26em;
}
.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  filter: brightness(50%);
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4);
  animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  animation-delay: 18s;
}

@-moz-keyframes CrossFade {
  25% {
    /* opacity: 1; */
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-o-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
.head {
  background-color: lightgrey;
  opacity: 50%;
}
.news {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, 30%);
}
.newsItem {
  widows: 100%;
  display: flex;
  flex-direction: row;
}

.card-heading {
  display: inline;
  margin: auto;
}
.card-heading > * {
  padding: 10px;
  width: 50% !important;
  margin: auto;
  display: inline;
}
a:link {
  padding: 10px;
  color: black !important;
}
.Resource-card {
  box-shadow: 7px 10px 20px 7px rgba(0, 0, 0, 0.25);
}
.Resource-container {
  background: linear-gradient(180deg, #1d84e3 0%, #ffffff 125.62%);
  /* height: 95vh; */
  width: 100%;
  padding: 3% 5% 5% 5%;
  color: white;
}
.Resource-Heading {
  padding: 10px;
  font-size: 4em;
}
.Resource-text {
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
  color: black;
  /* text-align: center; */
}
